datasketch==1.5.3
keras==2.6.0
matplotlib==3.4.2
memory_profiler==0.60.0
mmh3==3.0.0
murmurhash3==2.3.5
numpy==1.21.2
pandas>=1.4.1
pick==2.2.0
pyfarmhash==0.3.2
pylibmagic==0.2.2
pyshark==0.4.5
python_magic==0.4.27
scapy==2.4.3
scikit_learn==1.0.1
tensorflow==2.6.0
util==0.0.1
xxhash==3.0.0
